.item-card {
    display: flex;
    background-color: whitesmoke;
    color: black;
    opacity: 0.8;
    padding: 10px;

    // Fonts
    font: var(--font-size-m) / var(--line-height-m) var(--font-family);
    text-decoration: none;

    &:hover,
    &:focus {
        opacity: 1;
    }

    article {
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 280px;

        .description {
            height: inherit;
        }

        .price-tag {
            align-self: flex-end;
        }
    }
  h3 {
    color: white;
  }

}
