<div class="main-page">
  <header class="header">
    <h1>Products App</h1>
    <input type="text" placeholder="enter search term" class="search" /><!-- by adding placeholder for AT -->
    <button class="search">Search</button>
  </header>
  <nav class="sidebar">
    <h2>Filters</h2>
    <section>
      <app-price-range-slider valueMax="200" valueMin="10" (onChanged)="onPriceChanged($event)"></app-price-range-slider>
    </section>
  </nav>
  <main class="main">
    <h2 class="sub-header">Items available ( {{filteredItems.length}} )</h2>
    <div class="items-container" role="list" [attr.aria-label]="'There are ' + filteredItems.length + ' items available'" aria-live="polite">
      <!-- by adding role='list', it's better for AT, even Accessibility Tree shows better information -->
      <app-item-card
        *ngFor="let item of filteredItems"
        [name]="item.name"
        [image]="item.image"
        [link]="item.link"
        [description]="item.description"
        [price]="item.price"
      ></app-item-card>
    </div>
  </main>
  <footer class="footer">
    <a href="/">Home</a> | <a href="/">Login</a> | © 2023 Products App —
    Confidential
  </footer>
</div>
