<div class="main-page">
  <header class="header">
    <h1>Products App</h1>
    <input type="text" placeholder="enter search term" class="search" /><!-- by adding placeholder for AT -->
    <button class="search">Search</button>
  </header>
  <nav class="sidebar">
    <h2>Filters</h2>
    <section>
      <h3>Price range search</h3>
      <label id="price-range-label">Price range</label>
      <input type="range" #ranger min="1" max="200" class="slider" role="slider"
        [value]="priceRange" 
        (input)="onPriceRangeChanged(ranger)"
        aria-labelledby="price-range-label" 
        aria-valuemin="1" 
        aria-valuemax="200">
        <!-- Verified the checklist for Slider Pattern in: https://www.w3.org/WAI/ARIA/apg/patterns/slider/ -->
      <p>Price range selected: €{{priceRange}}</p>
    </section>
  </nav>
  <main class="main">
    <h2 class="sub-header">Items available ({{filteredItems.length}})</h2>
    <div class="items-container" role="list" [attr.aria-label]="'There are ' + filteredItems.length + ' items available'">
      <!-- by adding role='list', it's better for AT, even Accessibility Tree shows better information -->
      <app-item-card
        *ngFor="let item of filteredItems"
        [name]="item.name"
        [image]="item.image"
        [link]="item.link"
        [description]="item.description"
        [price]="item.price"
      ></app-item-card>
    </div>
  </main>
  <footer class="footer">
    <a href="/">Home</a> | <a href="/">Login</a> | © 2023 Products App —
    Confidential
  </footer>
</div>
