<div class="main-page">
  <header class="header">
    <h1>Products App</h1>
    <label> Search <input type="search" placeholder="enter search term" class="search" /></label><!-- by adding placeholder for AT -->
    <button class="search">Search</button>
  </header>
  <nav class="sidebar">
    <section>
      <app-price-range-slider>

        <!-- Verified the checklist for Slider Pattern in: https://www.w3.org/WAI/ARIA/apg/patterns/slider/ -->
        <label input>Price range
          <input
            id="price-range"
            type="range"
            min="0"
            max="150"
            step="10"
            class="slider"
            role="slider"
            [value]="selectedPrice"
            [attr.aria-valuenow]="selectedPrice"
            (input)="onPriceRangeChanged($event)"
            aria-labelledby="price-range-label"
            aria-controls="price-range-output"
          />
        </label>

        <p id="price-range-label" output>Price range selected: €<output id="price-range-output" name="result" for="price-rang" [value]="selectedPrice"></output></p>
      </app-price-range-slider>
    </section>
  </nav>
  <main class="main">
    <h2 class="sub-header">Items available( {{filteredItems.length}})</h2>
    <!--label id="test">
      <input type="text" id="username" aria-label="" placeholder="" autocomplete="username" />
    </label-->
    <div class="items-container" role="list" [attr.aria-label]="'There are ' + filteredItems.length + ' items available'" aria-live="polite" aria-relevant="all">
      <!-- by adding role='list', it's better for AT, even Accessibility Tree shows better information -->
      <app-item-card
        *ngFor="let item of filteredItems"
        [name]="item.name"
        [image]="item.image"
        [link]="item.link"
        [description]="item.description"
        [price]="item.price"
        role="listitem"
      ></app-item-card>
    </div>
  </main>
  <footer class="footer">
    <a routerLink="/second-page"
       routerLinkActive="active"
       ariaCurrentWhenActive="page">Home (Go to Page 2)</a> | <a href="/">Login</a> | © 2023 Products App —
    Confidential
  </footer>
</div>
